field {

    width: 200px;
    height: 200px;
    background-color: white;
 }
tab {
  color: red;
  font-size: 2em;
}

.bold {
  font-weight: bold;
}

.output {
  background-color: lightyellow;
  width: 280px;
  height: 190px;
  font-weight: bold;
}

body {
  background-color: white;
  padding: 1em;
    border: 1px solid;
}
.grey-background { background-color: grey; 
                   height:700px;
                   width:500px}
                   
 .white-background{
 background-color:white;
 height: 450px;
 width:450px;}
 
 }